<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<h2>Add Employee </h2>
<br/>
<br/>
<br/>

<form  action="#" th:action="@{/employee/addEmployee}" th:object="${employeePojo}" method="post" >
    <table border=0 >
        <tr><td align="right">User Name:</td><td align="left"><input type="text" name="userName" th:field="*{userName}" size="50" ></input></td></tr>
        <tr><td align="right">Password:</td><td align="left"><input type="password" name="password" th:field="*{password}" size="50"></input></td></tr>
        <tr><td align="right">Email:</td><td align="left"><input type="text" name="email" th:field="*{email}" size="50"></input></td></tr>
        <tr><td align="right">Title:</td><td align="left"><input type="text" name="title" th:field="*{title}" size="50"></input></td></tr>
        <tr><td align="right">Sex:</td><td align="left"><input type="radio" name="sex" value="male" th:field="*{sex}"> Male<input type="radio" name="sex" value="female" th:field="*{userName}"> Female</td></tr>
        <tr><td align="right">Salary:</td><td align="left"><input type="text" name="salary" th:field="*{salary}" size="50"></input></td></tr>
        <tr><td align="right">Age:</td><td align="left"><input type="text" name="age"  th:field="*{age}" size="50"></input></td></tr>

        <tr><td align="right"></td><td align="left"><input type="submit"></input></td></tr>


    </table>
</form>

</body>
</html>